<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header Modal-Head">
          <h1 class="text-center">Ministry Of Taste</h1>
        </div>
         <div class="modal-body">
             <div class="form-group">
                 <input type="text" class="form-control input-lg" placeholder="Username"/>
             </div>

             <div class="form-group">
                 <input type="password" class="form-control input-lg" placeholder="Password"/>
             </div>
             <div class="form-group">
                 <input type="submit" class="btn btn-block btn-lg btn-primary Btn-Primary-Color" (click)="Login()" value="Login"/>
             </div>
         </div>
    </div>
 </div>


