      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="row justify-content-md-center">
                      <h4>Order Summery #12231233</h4>
                      </div>
                      <div class="row justify-content-md-center py-2">
                      <div class="col-md-2">
                          <a (click)="addItemModal.show()" href="javascript:void(0)" class="btn btn-block Btn-Primary-Color">
                              <fa name="plus"></fa>
                              Add Item
                          </a>
                        </div>
                        <div class="col-md-3">
                            <a (click)="addCustModal.show()" href="javascript:void(0)" class="btn btn-block Btn-Primary-Color">
                                <fa name="user-plus"></fa>
                              Add a Customer
                            </a>
                          </div>
                  </div>
                </div>
                <table class="table table-striped">
                  <thead class="thead-inverse">
                    <tr>
                      <th>#</th>
                      <th>Item Name</th>
                      <th>Unit Price</th>
                      <th>QTY</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Lunch Packets</td>
                      <td>Rs.120.00</td>
                      <td>5</td>
                      <td>Rs.600.00</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Nasi</td>
                        <td>Rs.150.00</td>
                        <td>2</td>
                        <td>Rs.300.00</td>
                      </tr>
                      <tr>
                          <td>3</td>
                          <td>Vegetable Fried Rice</td>
                          <td>Rs.200.00</td>
                          <td>3</td>
                          <td>Rs.600.00</td>
                        </tr>
                      </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-2">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <div class="card">
                      <div class="row justify-content-md-center py-2">
                          <h4>Customer and Payment Info</h4>
                      </div>
                      <div class="content-body">
                          <section class="card">
                            <div id="invoice-template" class="card-body">
                              <!-- Invoice Items Details -->
                              <div id="invoice-items-details" class="pt-2">
                                <div class="row">
                                  <div class="table-responsive col-sm-12">
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-7 col-sm-12 text-center text-md-left">
                                    <p class="lead">Payment Methods:</p>
                                    <div class="row">
                                      <div class="col-md-8">
                                        <table class="table table-borderless table-sm">
                                          <tbody>
                                            <tr>
                                              <td>Bank name:</td>
                                              <td class="text-right">ABC Bank, USA</td>
                                            </tr>
                                            <tr>
                                              <td>Acc name:</td>
                                              <td class="text-right">Amanda Orton</td>
                                            </tr>
                                            <tr>
                                              <td>IBAN:</td>
                                              <td class="text-right">FGS165461646546AA</td>
                                            </tr>
                                            <tr>
                                              <td>SWIFT code:</td>
                                              <td class="text-right">BTNPP34</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-5 col-sm-12">
                                    <p class="lead">Total due</p>
                                    <div class="table-responsive">
                                      <table class="table">
                                        <tbody>
                                          <tr>
                                            <td>Sub Total</td>
                                            <td class="text-right">$ 14,900.00</td>
                                          </tr>
                                          <tr>
                                            <td>TAX (12%)</td>
                                            <td class="text-right">$ 1,788.00</td>
                                          </tr>
                                          <tr>
                                            <td class="text-bold-800 font-weight-bold">Total</td>
                                            <td class="text-bold-800 text-right font-weight-bold"> $ 16,688.00</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- Invoice Footer -->
                              <div id="invoice-footer">
                                <div class="row justify-content-md-center">
                                  <div class="col-md-5 col-sm-12 text-center">
                                    <button type="button" class="btn Btn-Primary-Color btn-lg my-1"><fa name="print"></fa> Print Invoice</button>
                                  </div>
                                </div>
                              </div>
                              <!--/ Invoice Footer -->
                            </div>
                          </section>
                        </div>


                  </div>
                </div>
            </div>
          </div>
        </section>

        <!-- add an item model -->
      <div bsModal #addItemModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add An Item</h4>
                <button type="button" class="close pull-right" (click)="addItemModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form class="form-horizontal">

                      <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Your Name</label>
                        <div class="cols-sm-10">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                        <div class="cols-sm-10">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                        <div class="cols-sm-10">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
                          </div>
                        </div>
                      </div>

                      <div class="form-group ">
                        <button type="button" class="btn Btn-Primary-Color btn-lg btn-block">Add To List</button>
                      </div>
                    </form>
              </div>
            </div>
          </div>
        </div>


        <!-- add a custommer model -->
      <div bsModal #addCustModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add A Customer</h4>
                <button type="button" class="close pull-right" (click)="addCustModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form class="form-horizontal">

                      <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Your Name</label>
                        <div class="cols-sm-10">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                        <div class="cols-sm-10">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                        <div class="cols-sm-10">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
                          </div>
                        </div>
                      </div>

                      <div class="form-group ">
                        <button type="button" class="btn Btn-Primary-Color btn-lg btn-block">Add Customer</button>
                      </div>
                    </form>
              </div>
            </div>
          </div>
        </div>
